body {
    background: #d5e1ef;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.card {
    padding: 15px;
    position: relative;
    border-radius: 20px;
    width: 290px;
    background: white;
}

.card-image {
    border-radius: 8px;
    width: 290px;
}

.card-title,
.card-description {
    font-family: "Outfit", sans-serif;
}

.card-title {
    color: #243048;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
}

.card-description {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #81838f;
}
